n8n/basic_chat_wf.json
{
  "name": "Chat Demo Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-demo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract the message from webhook data\nconst userMessage = $input.item.json.body.message;\nconst userId = $input.item.json.body.userId;\nconst timestamp = $input.item.json.body.timestamp;\n\n// Simple response logic for demo\nlet response = \"\";\n\nif (userMessage.toLowerCase().includes('hello') || userMessage.toLowerCase().includes('hi')) {\n  response = \"Hello! How can I help you today?\";\n} else if (userMessage.toLowerCase().includes('weather')) {\n  response = \"I'd normally check the weather for you, but this is a demo response. In a real setup, I'd integrate with weather APIs!\";\n} else if (userMessage.toLowerCase().includes('help')) {\n  response = \"I'm here to help! This is a demonstration of an n8n-powered chat system with token-based usage tracking.\";\n} else if (userMessage.toLowerCase().includes('tokens')) {\n  response = \"This system uses tokens to meter usage. Each message consumes one token. You can see your remaining tokens in the UI!\";\n} else {\n  response = `I received your message: \"${userMessage}\". This is a demo response from the n8n workflow. In a real implementation, this could integrate with AI services, databases, or any other systems.`;\n}\n\n// Return structured response\nreturn {\n  output: response,\n  userId: userId,\n  originalMessage: userMessage,\n  processedAt: new Date().toISOString(),\n  demoNote: \"This response was generated by n8n workflow\"\n};"
      },
      "id": "code-node",
      "name": "Process Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}